<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power BI Dashboard</title>
</head>
<body>
<body>
    <div id="embedContainer">
        <iframe title="Report Section" width="720" height="350" src="https://app.powerbi.com/view?r=eyJrIjoiOTNlNTQyZWQtMjUxMy00MTczLWI5YTQtMGVmMThmYjc5NWMzIiwidCI6IjBmZWQwM2EzLTQwMmQtNDYzMy1hOGNkLThiMzA4ODIyMjUzZSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</body>
</html>